In [1]:
import pandas as pd
df=pd.read_csv("iris_data.csv")
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  Setosa
1          4.9         3.0          1.4         0.2  Setosa
2          4.7         3.2          1.3         0.2  Setosa
3          4.6         3.1          1.5         0.2  Setosa
4          5.0         3.6          1.4         0.2  Setosa

In [5]:
df.drop(columns=['SepalLength','PetalLength'])

    SepalWidth  PetalWidth     Species
0          3.5         0.2      Setosa
1          3.0         0.2      Setosa
2          3.2         0.2      Setosa
3          3.1         0.2      Setosa
4          3.6         0.2      Setosa
5          3.2         1.4  Versicolor
6          3.2         1.5  Versicolor
7          3.1         1.5  Versicolor
8          2.3         1.3  Versicolor
9          2.8         1.5  Versicolor
10         3.3         2.5   Virginica
11         2.7         1.9   Virginica
12         3.0         2.1   Virginica
13         2.9         1.8   Virginica
14         3.0         2.2   Virginica